<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <meta name="description" content="Form page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- title tag-->
    <title>
        Form Page
    </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block header %}
        {#
            headers
        #}
    {% endblock %}
</head>
{% block content %}
<body id="mainForm">
    <div class="container-fluid">
        <div id="debug">{{ debug_data }}</div>
        <form method="post" action="example1.php">
            <div class="form-group">
                <label>Введите емейл</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Введите фамилию</label>
                <input type="text" class="form-control" name="last_name" placeholder="Фамилия">
            </div>
            <div class="form-group">
                <label>Введите отчество</label>
                <input type="text" class="form-control" name="third_name" placeholder="Отчество">
            </div>
            <div class="form-group">
                <label>Введите Имя</label>
                <input type="text" class="form-control" name="first_name" placeholder="Имя">
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
</body>
{% endblock %}
</html>